<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SocialMediaStyle.css') }}">
    <title>Here are your results</title>
</head>
<Body class="instagramBackground">
<div id="containernavbar">
    <div class="navbar">
        <ul class="nav">
            <li class="left"><a href="/"><h1 class="menu">Home</h1></a></li>
            <li class="right"><a href="/shutdown"><h1 class="menu">Quit</h1></a></li>
        </ul>
    </div>
</div>
<BR>
<div id="containerROI">
    <div class="instagramChoice">
        <h2 class="instagramHeader2">ROI of all Posts in campaign:</h2>
            <img style="width: 75%; height: 75%" src="static/InstagramROIplot.png" alt="Pie Chart">
        <BR>
            <h3 class="InstagramROIHeader">Total ROI Value: <BR> €{{totalInstagramValue}}</h3>
			<BR>
    </div>
</div>
    </Body>
</html>